In [13]:
from googlesearch import search
from pathlib import Path
import requests
import pandas as pd
import os
import time

In [14]:
df=pd.read_csv("top300_colleges.csv")

In [15]:
df

     postid  unitid                                       name state  rank
0      8413  186131                       Princeton University    NJ     1
1      8484  166683      Massachusetts Institute of Technology    MA     2
2      8425  166027                         Harvard University    MA     3
3      8439  243744                        Stanford University    CA     3
4      8672  130794                            Yale University    CT     5
..      ...     ...                                        ...   ...   ...
297   96770  174817       Saint Mary's University of Minnesota    MN   296
298   37556  219356              South Dakota State University    SD   296
299   96873  199759  Southeastern Baptist Theological Seminary    NC   296
300   59961  225627           University of the Incarnate Word    TX   296
301   11476  238661                           Edgewood College    WI   296

[302 rows x 5 columns]

In [ ]:
file_type = "filetype:pdf "
pdf_ids=[]
empty_ids=[]
for i,row in df.iterrows():
    if row['postid']<=96868:
        continue
    post_id=row['postid']
    college_name=row['name']
    os.mkdir(".//PDFs//"+str(post_id))
    query=file_type+" "+college_name+" common data set 2023-2024"
    pdf_count=0
    for result in search(query,sleep_interval=10):
        url=result
        response=requests.get(url,headers = {'User-agent': 'my personal bot 0.1'},verify=False,timeout=10)
        if "Content-Type" in response.headers and response.headers["Content-Type"]=="application/pdf":
            with open(".//PDFs//"+str(post_id)+"//"+str(post_id)+"-"+str(pdf_count)+".pdf","wb") as file:
                file.write(response.content)
                pdf_count=pdf_count+1
    if pdf_count==0:
        os.rmdir(".//PDFs//"+str(post_id))
        pdf_ids.append(post_id)
    else:
        empty_ids.append(post_id)